/* Global Styles */

@import "tailwindcss";
@plugin "@tailwindcss/forms";


:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Simple theme colors */
   
    --color-black: #14100E;
    --color-white: #F7F7F7;

    --color-red: #E62117;
    --color-orange: #FF6B00;
    --color-yellow: #FFC300;

    --color-dk-gray: #2E2E2E;
    --color-md-gray: #8C8C8C;
    --color-lt-gray: #EAEAEA;

}

#root {
    margin: 0 !important;
    padding: 0 !important;
}


/* SCROLLBAR */
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
* {
    scrollbar-width: none;
}

/* For Internet Explorer and Edge (older versions) */
* {
    -ms-overflow-style: none;
}


/* INPUTS */
input::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

/* Ensure input text is also black, not white */
input {
  color: rgba(0, 0, 0) !important;
}